
__pycache__/
myfont.ttf
*.ttf
*.pdf
images/as1_2.png
.vscode/.ropeproject/
test.py
test.py
as1.txt
41096502817-AakashKumar-ASN-As2.txt
asn3.txt
asn4.txt
ASN_Assignment2.docx
ASNassignment3.docx
Assignment_history.txt
cgmt1.txt
ezyzip.zip
File1.txt
File10.txt
File11.txt
File2.txt
File3.txt
File4.txt
File5.txt
File6.txt
File7.txt
File8.txt
File9.txt
font_fixer.py
FULL.txt
Handwriter.zip
hupv3.txt
hupv4.txt
hvpe2.txt
satellite1.txt
satellite2.txt
Sattelite Communication Assignment 3.docx
sc3.txt
syms.txt
nv/
ut/
done_txt/